/* src/App.css */

.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #5271ff,
      0 0 82px #5271ff,
      0 0 92px #5271ff,
      0 0 102px #5271ff,
      0 0 151px #5271ff;
}
.neon {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
}

body{
  background-color: #0f0d0d;
}



h1, h2 {
  text-align: center;
  font-weight: 400;
}
  
h1 {
    font-size: 3.5rem;
      
}
h2{
  font-size:2.5 rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Align items vertically */
}
.circular-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  animation: floatUpDown 2s infinite alternate; /* Add animation property for floating effect */
}

.circular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 100%;
  box-sizing: border-box;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-5px); /* Move up by 10 pixels */
  }
  100% {
    transform: translateY(0); /* Return to the initial position */
  }
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #aea4a4;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #b9b2b2;
}

.nav > .nav-links > a:hover {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
  box-shadow: 0 0 10px rgba(120, 119, 119, 0.8); /* Add glow effect */
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 25px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.822);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #201f1f;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.about{
  padding: 100px;
  width:600px;
}
.para{
  font-family: sans-serif;
  color:aliceblue;
  box-sizing: 50px;
  background: linear-gradient(to bottom, #000000, #3a3939);
  color: #ffffff;
  text-align: center;
  font-size: medium;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-self: start;
  margin: auto;
  flex-direction: row; /* Added to ensure buttons are in the same horizontal line */
}

.btn {
  width: 60px;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  gap:40px;
}

i.fa {
  font-size: 24px;
}

#fb {
  color: #006fff;
  text-shadow: 0 0 15px #006fff;
}

#ig {
  color: #ff5f40;
  text-shadow: 0 0 15px #ff5f40;
}

#tw {
  color: #00acff;
  text-shadow: 0 0 15px #00acff;
}

.btn.fb-btn {
  box-shadow: 0 10px 10px -8px rgba(0, 111, 255, 0.53);
}

.btn.fb-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 22.5px -7.5px rgba(0, 111, 255, 0.65);
}

.btn.ig-btn {
  box-shadow: 0 10px 10px -8px rgba(255, 16, 39, 0.5);
}

.btn.ig-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 22.5px -7.5px rgba(255, 16, 39, 0.57);
}

.btn.tw-btn {
  box-shadow: 0 10px 10px -8px rgba(0, 255, 255, 0.53);
}

.btn.tw-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 22.5px -7.5px rgba(0, 111, 255, 0.6);
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  grid-auto-rows: auto;
  height: auto;
}

.skillsGrid img {
  height: 100px;
  width: 100px;
  position: centre;
  transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skillsGrid img:hover {
  filter: brightness(1.5); /* Adjust the brightness for the glow effect */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8); /* Adjust the box-shadow values for the neon effect */
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: center;
  margin-right: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.skills i {
  font-size: 2em;
  margin-bottom: 10px;
}
.card-container {
  height: 100vh;
  width: 100vw;
  max-height: 600px;
  max-width: 1200px;
  min-height: 600px;
  min-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.panel {
  height: 270px;
  width: 190px;
  position: relative;

  &:hover {
    .card {
      filter: blur(1.5px);
    }
    .card1 {
      background-size: 215% 135%;
    }
    .card2 {
      background-size: 115% 115%;
    }
    .card3 {
      background-size: 155% 115%;
    }
    .title {
      color: rgba(255, 255, 255, 0.2);
    }
    .border {
      border: 1px solid rgba(255, 255, 255, 1);
    }
    .slide {
      bottom: 0px;
    }
    .ring:before,
    .ring:after {
      transform: translateX(-50%) translateY(-50%) rotate(310deg);
    }
  }
}
.ring,
.card,
.border,
.slide,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  color: #fffbf1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 170px;
}

.card {
  background: #f0ead6;
  position: relative;
  transition: all 1s;
  height: 270px;
  width: 190px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.card1 {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 200% 120%;
}

.card2 {
  background-image: url(../src/portfolio.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card3 {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 140% 100%;
}

.ring:before,
.ring:after {
  content: "";
  padding: 0.7em 0.4em;
  position: absolute;
  left: 50%;
  width: 115%;
  top: 50%;
  display: block;
  border: 5px solid #50c9c3;
  border-radius: 50%;
  transition: transform 1s;
  transform: translateX(-50%) translateY(-50%) rotate(50deg);
}

.ring:before {
  border-color: rgb(235, 235, 235) rgb(235, 235, 235) rgba(0, 0, 0, 0)
    rgba(0, 0, 0, 0);
  z-index: -1;
}

.ring:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(235, 235, 235)
    rgb(235, 235, 235);
}

.title {
  font-size: 36px;
  font-weight: 700;
  transition: all 1s;
  top: 0;
}

.para {
  bottom: 0;
  font-size: 16px;
  font-family: "Raleway";
  padding: 20px;
  margin: 0;
  text-align: center;
}

.border {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 260px;
  width: 180px;
  transition: border 1s;
  overflow: hidden;
}

.slide {
  height: 260px;
  width: 180px;
  position: absolute;
  border: 1px solid black;
  bottom: -270px;
  background: rgba(0, 0, 0, 0.5);
  transition: bottom 1s;
  flex-direction: column;
}

.fa-plane {
  font-size: 16px;
}
.Contactme{
  width: 1500px;;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}
